@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Noto Sans KR", "sans-serif";
}

body {
  font-weight: 400;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  padding: 4px 10px;
  border: none;
  outline: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  margin: 20px 0;
}

form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.todos {
  margin-bottom: 20px;
  font-size: 18px;
}

.todo_item {
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid #ccc;
  padding: 14px 0;
}

.todo_item .btns {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.todo_bottom {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #666;
}
